@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html,
body {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    color: #222;
    overflow-x: hidden;
}

.navbar a {
    color: #000039!important;
}

.navbar a:hover {
    color: #8b0000!important;
}

.navbar-toggler {
    border-color: #000039!important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-brand img {
    width: 150px;
}

.carousel-item {
    font-family: Roboto, sans-serif;
}

.carousel-caption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 20%;
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-inner img {
    max-height: 580px;
    object-fit: cover;
}

#carouselExampleIndicators {
    margin-bottom: 3rem;
}

#a-propos #body {
    font-family: Roboto, sans-serif;
}

#a-propos img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#produits .card:hover,
.maps .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow 0.3s ease-in-out;
}

#mapid,
#mapid2 {
    height: 600px;
}

#contacter form {
    font-family: Roboto, sans-serif;
}

#contacter button {
    background-color: #000039;
}

#contacter button:hover {
    background-color: #8b0000;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}

.quick-links a {
    color: #d5d5d5;
    text-decoration: none;
}

footer a:hover {
    color: #000039;
}


/*---Media Queries --*/

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .margin-bottom {
        margin-bottom: 3rem;
    }
    .navbar-brand img {
        width: 130px;
    }
}

@media (max-width: 576px) {
    .navbar-brand img {
        width: 100px;
    }
}


/*---Firefox Bug Fix --*/

.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}


/*--- Bootstrap Padding Fix --*/

[class*="col-"] {
    padding: 1rem;
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/